django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-decouple
phonenumbers
pillow
django-filter
django-allauth
djangorestframework-simplejwt
pytest
pytest-django
pylint
flake8
black
django-debug-toolbar
django-crispy-forms
django-redis
django-silk
gunicorn
whitenoise